/* styles.css */

/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 5px;
}

/* Sidebar styling */
#sidebar {
    width: 250px;
    padding: 5px;
    border-right: 1px solid #ccc;
}

/* Main content styling */
#main-content {
    flex-grow: 1;
    padding: 5px;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* Heading styling */
h1 {
    margin-bottom: 5px;
    font-size: 2em;
    color: #4a4a4a;
}

/* Available PCs list styling */
#pc-list {
    list-style: none;
}

#pc-list li {
    margin: 5px 0;
}

#drop-area {
    width: 70px;
    height: 50px;
    border: 2px solid #888;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; /* Light background color */
    color: #666; /* Text color */
}

#drop-area:hover {
    background-color: #e0e0e0; /* Slightly darker background on hover */
  border-color: #bbb; /* Darker border on hover */
}
input, button {
    font-size: 16px;
    margin-top: 10px;
}

/* Highlight drop area on hover */
.highlight {
    border-color: #000;
}



/* Responsive design */
@media (max-width: 600px) {
    body {
        padding: 5px;
    }

    h1 {
        font-size: 1.5em;
    }

    select {
        width: 100%;
    }
}
